/* Reset */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

/* HEADER */
header {
    background: #ff5722;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: sticky;
    top: 0;
    z-index: 20;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: rgb(3, 90,166);
    background-color: #eee;
    padding: 6px 8px;
    border-radius: 5px;
}

.logo span {
    color: rgb(237, 31,33);
}

/* SEARCH BOX */
.search-box {
    display: flex;
    width: 450px;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}

.search-box input {
    flex: 1;
    padding: 10px 12px;
    border: none;
    outline: none;
}

.search-box button {
    width: 50px;
    border: none;
    background: #ff7043;
    color: white;
    cursor: pointer;
}

/* ICON HEADER */
.header-icons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.icon-btn {
    font-size: 22px;
    cursor: pointer;
}

/* CATEGORY BAR */
.category-bar {
    display: flex;
    gap: 14px;
    overflow-x: auto;
    background: white;
    padding: 12px 20px;
}

.category-bar div {
    padding: 8px 14px;
    background: #eee;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
}

.category-bar div:hover {
    background: #ddd;
}

/* FILTER BOX */
.filter-box {
    width: 95%;
    margin: 18px auto;
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

#priceSlider {
    margin: 12px 0;
}

/* PRODUK GRID */
.product-grid {
    width: 100%;
    margin: 0 auto 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    transition: 0.25s;
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

.product-card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 6px;
}

.price {
    color: #ff5722;
    font-weight: 700;
    margin-top: 8px;
}

.sold {
    font-size: 13px;
    color: #666;
    margin-bottom: 30px;
    margin-top: 4px;
}

/* BUTTON PRODUK */
.product-card button {
    width: 100%;
    margin-top: auto;
    padding: 8px;
    border: none;
    background: #ff7043;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background: #ff5722;
}

/* CART DIALOG */
#cartDialog {
    font-size: 16px;
}

#cartItems li {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}
